<a href="https://colab.research.google.com/github/Batkiwi19/Bird-watching-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
df=pd.read_csv('AADR.csv')
print(df)
df['Date']=pd.to_datetime(df['Date'])
mask=df['Date'].between('2015-02-01','2020-01-04')
df[~mask].to_csv('out1.csv', index=False)
df[~mask].to_csv('out2.csv', index=False)
print(mask)
maxClm=df['Open'].max()
print(maxClm)
minClm=df['Open'].min()
print(minClm)
df['Date'] = pd.to_datetime(df['Date'])

res = df[~(df['Date'] < '2015-1-2')]

print(res)

            Date       Open       High        Low      Close  Adj Close  \
0     2010-07-21  25.100000  25.100000  24.700001  24.700001  23.343714
1     2010-07-22  25.420000  25.420000  25.129999  25.260000  23.872967
2     2010-07-23  25.540001  25.540001  25.080000  25.280001  23.891865
3     2010-07-26  25.400000  25.400000  25.219999  25.370001  23.976921
4     2010-07-27  25.250000  25.290001  25.200001  25.290001  23.901318
...          ...        ...        ...        ...        ...        ...
2437  2020-03-26  41.200001  42.290001  41.200001  42.090000  42.090000
2438  2020-03-27  40.360001  40.500000  39.900002  40.419998  40.419998
2439  2020-03-30  40.549999  40.709999  39.970001  40.709999  40.709999
2440  2020-03-31  40.500000  41.230000  40.250000  40.340000  40.340000
2441  2020-04-01  39.169998  39.169998  38.599998  39.029999  39.029999

      Volume
0      42000
1      17500
2       8600
3      18900
4       8200
...      ...
2437   19600
2438    6900
2439    3000
2440    4500
2441    5700

[2442 rows x 7 columns]
0       False
1       False
2       False
3       False
4       False
        ...
2437    False
2438    False
2439    False
2440    False
2441    False
Name: Date, Length: 2442, dtype: bool
63.18999862670898
24.690000534057617
           Date       Open       High        Low      Close  Adj Close  Volume
1121 2015-01-02  37.250000  37.250000  36.639999  36.639999  35.399769    2000
1122 2015-01-05  36.130001  36.439999  36.130001  36.189999  34.965000     600
1123 2015-01-06  35.570000  35.889999  35.560001  35.889999  34.675159     600
1124 2015-01-07  35.889999  35.889999  35.889999  35.889999  34.675159       0
1125 2015-01-08  36.730000  36.799999  36.450001  36.450001  35.216206    1100
...         ...        ...        ...        ...        ...        ...     ...
2437 2020-03-26  41.200001  42.290001  41.200001  42.090000  42.090000   19600
2438 2020-03-27  40.360001  40.500000  39.900002  40.419998  40.419998    6900
2439 2020-03-30  40.549999  40.709999  39.970001  40.709999  40.709999    3000
2440 2020-03-31  40.500000  41.230000  40.250000  40.340000  40.340000    4500
2441 2020-04-01  39.169998  39.169998  38.599998  39.029999  39.029999    5700

[1321 rows x 7 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')